.main-section {
	text-align: center;
	padding: 0;
}

.section {
	margin: 100px 0 100px 0;
}

.title-header {
	text-align: center;
	font-size: 64px;
	margin-top: 100px;
	font-weight: 100;
	color: white;
}

.h2 {
	float: left;
	color: white;
}

.top-text {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.figure {
	margin: 0;
}
.image {
	width: 100%;
	min-width: 478px;
}

.hero-copy {
	margin: 50px auto 0 auto;
	font-size: 24px;
	font-weight: 300;
	width: 80%;
}
